.jumbotron {
    background-color: cadetblue;
    color: snow;
    margin-top: 50px;
   
}
.btn {
    background-color: slategray;
}
footer {
    color: snow;
    padding: 10px 10px 10px;
    background-color: cadetblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-contacto {
    width: 100%;
}

.footer-address-icon{
    padding-right: 10px;
}